* {
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
}

table {
    color: #777;
}

td {
    padding-right: 1rem;
}

input[type=text] {
    border: 2px solid #777;
    border-radius: 5px;
    width: 8rem;
    height: 1.8rem;
    font-size: 1rem;
    padding: 0 1rem;
}

input[type=text]:focus {
    outline: none !important;
    border: 2px solid #0185fc;
}

input[type=text]:hover {
    border: 2px solid #0185fc;
}

#action {
    border: 2px solid #777;
    background-color: transparent;
    color: #777;
    border-radius: 5px;
    width: 9rem;
    height: 2.05rem;
    font-size: 1rem;
    padding-left: 1rem;
}

#action:focus {
    outline: none;
}

#action:hover {
    outline: none;
}

#button-result {
    border: 0;
    background-color: #0185fc;
    color: #fff;
    border-radius: 5px;
    width: 4.5rem;
    height: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
}

#button-result:hover {
    background-color: #0000ff;
}

#button-result:active {
    background-color: #0185fc;
}

#result {
    pointer-events: none;
}

.fields-name {
    font-size: 1.25rem;
}